

.footer-wrapper{
    padding: 70px 50px;
    font-size: 1.1rem;
    font-family: 'Oswald', sans-serif;
    background-color: $main-bg;

    &_logo{
        height: 28px;
    }

    &_about{
        p{
            margin-bottom: 2rem;
        }
    }

    &_title{
        text-transform: uppercase;
        margin-bottom: 2rem;
        font-weight: 600;
    }

    &_content{
        p{
            margin-bottom: 1.25rem;
        }
    }
}