i.active {
  color: $main-color;
}

.productCart-wrapper {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  // background-color: $bg-slide;

  &_img {
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;

    img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;

      &:nth-child(1) {
        transform: translateX(-50%) scale(1);
        transition: transform 0.5s ease;
      }

      &:nth-child(2) {
        transform: translateX(-50%) scale(0);
        transition: transform 0.5s ease;
      }
    }

    &:hover img {
      &:nth-child(1) {
        transform: translateX(-50%) scale(0);
      }
      &:nth-child(2) {
        transform: translateX(-50%) scale(1);
      }
    }
  }

  &_info {
    background-color: $bg-slide;
    padding: 10px;

    &_name {
      margin-bottom: 10px;
      color: #000;
      font-size: 1.25rem;
      font-weight: normal;
      text-transform: capitalize;
    }

    &_brand {
      margin-bottom: 10px;
      color: #000;
      font-size: 1.25rem;
      font-weight: normal;
    }

    &_price {
      color: #000;
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 15px;

      // &_old{
      //     color: $txt-second-color;
      //     margin-left: 20px;
      //     font-weight: 300;
      // }
    }
  }

  &_action {
    position: absolute;
    top: 0;
    right: 0;
    @include flex(center, center);
    flex-direction: column;

    .action-wrapper {
      margin: 5px;

      &_icon {
        background-color: $bg-slide;
        min-width: 30px;
        height: 30px;
        cursor: pointer;
        @include flex(center, center);
        margin-left: 10px;
        transform: translateX(10px);
        opacity: 0;
        transition: all 0.3s ease-in-out;
        border-radius: 4px;

        &.active {
          color: $main-color;
        }

        &:hover {
          background-color: $main-color;
          color: $main-bg;
        }
      }
    }
  }

  &:hover .action-wrapper_icon {
    transform: translateX(0);
    opacity: 1;
  }
}

.delete {
  display: none;
}

.delete.active {
  display: flex;
}

.delay-2 {
  transition-delay: 0.1s !important;
}

.delay-4 {
  transition-delay: 0.2s !important;
}

.delay-6 {
  transition-delay: 0.3s !important;
}

.delay-8 {
  transition-delay: 0.4s !important;
}

.pulse {
  animation: pulse 1.4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
