.is-overflow{
    overflow: hidden;
}

.order-variants {
    @media screen and (max-width: 769px) {
        padding-bottom: 24px;

        hr {
            margin: 16px 0;
        }
    }

    .variant-item:last-child {
        hr {
            display: none;
        }
    }

    &__bottom {
        margin-bottom: 0;

        @media screen and (min-width: 769px) {
            margin-bottom: 20px;
        }
    }

    &__summary {
        margin-top: 32px;

        .item {
            display: flex;
            justify-content: flex-end;

            &__label {
                text-align: right;
                line-height: 24px;

                &--refund {
                    color: #eb5757;
                    margin-top: 8px;
                    display: flex;
                    align-items: center;
                }

                &--bold {
                    font-weight: 600;

                    line-height: 32px;
                    margin-top: 8px;
                }
            }

            &__number {
                text-align: right;
                min-width: 80px;

                line-height: 24px;
                font-weight: 600;

                &--refund {
                    color: #eb5757;
                    margin-top: 8px;
                }

                &--bold {
                    font-weight: 600;
                    line-height: 32px;
                    margin-top: 8px;
                }
            }

            &__separator {
                @media screen and (min-width: 769px) {
                    display: none;
                }
            }
        }

        .countdown {
            color: var(--secondary);
            display: inline-block;
            font-weight: bold;
            min-width: 44px;
        }

        @media screen and (max-width: 768px) {
            margin-bottom: 3rem;
        }
    }

    .modal {
        @media screen and (max-width: 768px) {
            justify-content: flex-end;
        }
    }

    .price {
        &__secondary {
            text-decoration: line-through;
        }
    }

    .remove {
        text-decoration: underline;
    }

    .refund-hint {
        height: 20px;
        width: 20px;
        margin-right: 0.5rem;
    }

    .max-witdh__mobile {
        @media screen and (max-width: 321px) {
            max-width: 140px;
        }
    }

    .variant {
        &--top {
            margin-bottom: -12px !important;
            display: inline-flex;
        }

        &__image {
            border: solid 1px #e8e8e8;
            border-radius: 5px;
            background-color: white;

            img {
                border-radius: 4px;
            }
        }

        &__title {
            font-size: 16px;
            line-height: 24px;
            font-weight: bold;
            margin-bottom: 8px;
        }

        &__remove {
            float: right;

            @media screen and (max-width: 768px) {
                float: initial;
            }

            .button {
                font-size: 12px;
                line-height: 18px;
                padding: 0;
                outline: none;
                border: none;

                &:hover {
                    background-color: transparent;
                }
            }
        }

        .btn-remove-mobile {
            text-align: center;
        }

        @media screen and (max-width: 768px) {
            &__quantity {
                margin-top: -0.75rem;

                .field.has-addons {
                    margin-right: 0.75rem;
                    border: 1px solid #dbdbdb;
                    border-radius: 4px;
                    justify-content: space-between;
                }

                p.control a.button {
                    border: 0px;
                }

                input.input {
                    border: 0px;
                }
            }

            &__quantity>div {
                flex: 33.33%;
            }
        }

        @media screen and (min-width: 375px) and (max-width: 450px) {
            &__quantity {
                .field.has-addons {
                    margin-right: 0.5rem;
                }
            }
        }

        @media screen and (max-width: 375px) {
            &__quantity {
                .field.has-addons {
                    margin-right: 0px;
                }
            }
        }

        &__quantity {
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: 786px) {
                &.desktop {
                    display: block;

                    &.is-flex {
                        display: none !important;
                    }
                }

                &.mobile {
                    display: none;

                    .is-flex {
                        display: flex;
                    }
                }
            }

            @media screen and (min-width: 787px) {
                &.desktop {
                    display: block;
                }

                &.mobile {
                    display: none !important;
                }
            }
        }

        &__price {
            font-size: 20px;
            // min-width: 136px;
            text-align: right;

            @media screen and (min-width: 320px) and (max-width: 360px) {
                text-align: left;
            }

            .compared {
                font-size: 12px;
                margin-right: 14px;
                color: var(--grey);
            }
        }
    }

    .size {
        &--small {
            display: flex;
            justify-content: space-between;
        }
    }
}

.field {
    display: flex;
    justify-content: flex-start;

    .control {
        button {
            width: 40px;
            height: 40px;
            font-size: 20px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &.control-input {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
        }
    }
}